.container {
    background-color: lightpink;
    display: flex;
    /* flex-direction: column-reverse; */
    flex-direction: row;
    flex-wrap: wrap;
    /* flex-wrap: wrap-reverse; */
    /* justify-content: center; */
    justify-content: space-around;
    /* justify-content: space-between; */
    /* align-items: flex-start; */
    align-items: center;
    align-content: space-around;
    height: 300px;
}

.item {
    background-color: darkcyan;
    margin: 20px;
    height: 60px;
    width: 60px;
    padding: 10px;
    font-size: 30px;
    /* flex-grow: 1; */
    /* flex-shrink: 1; */
}

#item12 {
    /* order: 2; */
    order: -1;
    flex-grow: 1;
}

#item13 {
    flex-grow: 2;
    order: 1;
}

#item11 {
    flex-shrink: 0;
    order: 1;
    align-self: flex-start;
}